
@{
    ViewBag.Title = "ProjectBudgetStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TimeCard.Models
@using TimeCard.Helping_Classes
@using TimeCard.BL
@{
    SessionDTO sdto = new SessionDTO();
}
<style>
    h3 {
        color: #2a2b6e;
    }

    #addbtn {
        font-size: 17px;
        color: #2a2b6e;
    }

    #box {
        background-color: #0005a7;
        padding: 20px;
        width: 200px;
        height: 60px;
        margin-bottom: 60px;
    }

    #boxheading {
        color: white;
    }

    p {
        color: white;
    }

    .control-label {
        color: #0005a7;
    }

    #expandBtn {
        width: 35px;
        height: 35px;
    }

    .SheetBtn {
        display: none;
        color: #0005a7 !important;
        font-size: large;
    }

    .timeSheet {
        display: block;
    }

    @@media only screen and (max-width:400px) {
        .timeSheet {
            display: none;
        }

        .SheetBtn {
            display: contents;
        }
    }
</style>

<div class="row " style=" border:5px solid #424ef4; border-radius:10px; color:white;" id="Sheet">
    <div class="col-xs-12" style="background-color:#0005A7;">

        <form action="@Url.Action("SearchProjectBudgetStatus", "Home")" method="post">
            <div class="row">
                <div class="col-md-2 col-lg-4" style="padding: 20px;">
                    <div class="form-group">
                        <label><strong>*Project Code:</strong></label>
                        <input type="text" id="code" name="Code" class="form-control" value="@ViewBag.code">
                    </div>
                </div>



            </div>
            <div class="row">
                <div style="padding: 20px;">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right">Search</button><br />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row text-center">
    <button href="#" class="btn btn-sm btn-primary SheetBtn" onclick="ShowTimeSheet()">Show Customer Report</button>
</div>

<div class="row timeSheet">
    <div class="col-xs-12" style="height:auto; padding:5%;">
        <h3 class="header"><strong>Project Budget Report</strong></h3><br />

        @if (sdto.getRole() == 2)
        {
            <div class="clearfix">
                <div class="pull-right tableTools-container">
                    @* <form method="post" action="@Url.Action("ProjectBudgetStatusExcel", "ExcelReport")">*@

                    <input type="hidden" name="Code" id="code" value="@ViewBag.code" />
                    <a type="submit" class="btn btn-primary pull-right" onclick="generatePDF()">Get Excel Sheet</a><br />

                    @*<button type="submit" class="btn btn-primary pull-right">Get Excel Sheet</button><br />*@
                    @*</form>*@
                </div>
            </div>
        }

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div class="table-responsive" style="background-color:#EFF3F8;">
            <table id="myTable" class="display table table-striped table-bordered table-hover">

                @*<thead>
                        <tr>
                            <th>Employee</th>
                            <th>Project</th>
                            <th>LCAT</th>
                            <th>Budget</th>
                            <th>Total Cost</th>
                            <th>Remaining</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (ProjectReportDTO e in ViewBag.ProjectReportList)
                        {

                            <tr>

                                <td>
                                    @e.EmployeeName
                                @if (e.Status != "")
                                {<span style="background-color:red; color:white; padding:1px;"> @e.Status </span>
                            }
                            </td>
                            <td>@e.ProjectName</td>
                            <td>@e.LCAT</td>
                            <td>@e.Budget</td>

                            <td>
                                @{
                                    double cst = e.Cost * e.Hours;
                                }
                                @Math.Round(cst, 2)
                            </td>

                            <td>@e.Remaining %</td>
                        </tr>


                    }*@

                <thead>
                    <tr>
                        <th>Project Code</th>
                        <th>Budget</th>
                        <th>Total Cost</th>
                        <th>Remaining</th>
                        <th class="text-center">Remaining Budget</th>
                    </tr>
                </thead>
                <tbody>
                    @if (sdto.getRole() == 1)
                    {
                        foreach (ProjectBudgetDTO pp in ViewBag.ProjectBudgetList)
                        {
                            foreach (int i in ViewBag.ProjectId)
                            {
                                if (i == pp.Id)
                                {
                                    <tr>
                                        <td>@pp.Code</td>
                                        <td>@pp.Budget</td>
                                        <td>@pp.TotalCost</td>
                                        <td>
                                            @if (Convert.ToDouble(pp.Remaining) < 0)
                                            {
                                                <span style="background-color:red; padding:2px; color: white;">@pp.Remaining %</span>

                                            }
                                            else
                                            {
                                                <span>@pp.Remaining %</span>
                                            }

                                        </td>
                                        <td class="text-center">
                                            @{
                                                double rb = Convert.ToDouble(pp.Budget) - Convert.ToDouble(pp.TotalCost);
                                                if (rb < 0)
                                                {
                                                    <span style="background-color:red; padding:2px; color: white;">@rb</span>
                                                }
                                                else
                                                {
                                                    <span>@rb</span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                    else
                    {
                        foreach (ProjectBudgetDTO pp in ViewBag.ProjectBudgetList)
                        {
                            <tr>
                                <td>@pp.Code</td>
                                <td>@pp.Budget</td>
                                <td>@pp.TotalCost</td>
                                <td>
                                    @if (Convert.ToDouble(pp.Remaining) < 0)
                                    {
                                        <span style="background-color:red; padding:2px; color: white;">@pp.Remaining %</span>
                                    }
                                    else
                                    {
                                        <span>@pp.Remaining %</span>
                                    }
                                </td>
                                <td class="text-center">
                                    @{
                                        double rb = Convert.ToDouble(pp.Budget) - Convert.ToDouble(pp.TotalCost);
                                        if (rb < 0)
                                        {
                                            <span style="background-color:red; padding:2px; color: white;">@rb</span>
                                        }
                                        else
                                        {
                                            <span>@rb</span>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- DonloadFile Message Modal -->
<div class="modal fade" id="DonloadFileModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black; text-align: center;"><strong>Employee Assignments</strong></h4>
            </div>
            <div class="modal-body">
                <p style="color: black; text-align: center;">Your file will be downloaded in a few minutes, check your email Account for the Link!</p>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "order": [[3, "desc"]]
        });
    });
</script>


<script>
    function generatePDF() {
        var code = document.getElementById("code").value;
        $.ajax({
            type: 'POST',
            url: "../ExcelReport/AsyncProjectBudgetStatusExcel",
            data: {
                Code: code
            },
            //dataType: "json",
            success: function (data) {
                $("#DonloadFileModal").modal("show");
            },
            error: function () { alert('fail'); }
        });
    }
</script>